footer {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-light);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--color-gray-dark);
}