#sidebar {
    transition: max-height 0.3s ease-in-out;
    background-color: var(--color-gray-light);    
    box-shadow: var(--box-shadow);    
    font-family: var(--font-family-primary);
}

#sidebar.active {
    max-height: 100dvh;    
}

.sidebar-inner {
    padding: var(--spacing-s);
}

.sidebar-section {
    margin-bottom: var(--spacing-m);
}

#sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-static-btn,
#new-project-btn {
    display: block;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-s);
    color: var(--color-gray-dark);
    border-radius: var(--border-radius);
}

.sidebar-static-btn:hover,
.project-item-content:hover,
#new-project-btn:hover {
    background-color: var(--color-orange);
}

.sidebar-section h3 {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-xs);
    color: var(--color-brown);
}

.sidebar-section .material-symbols-outlined {
    margin-right: var(--spacing-xs);
}

#project-list {
    list-style: none;
    padding: 0;
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-xs);
}

.project-item-content {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius);
    padding: var(--spacing-xs) var(--spacing-s);
    cursor: pointer;
}

.delete-project-button,
.edit-project-button {
    width: fit-content;
    border: none;
    padding: 0;
    background: none;
    color: var(--color-gray-dark);
}

.delete-project-button .material-symbols-outlined,
.edit-project-button .material-symbols-outlined {
    cursor: pointer;
    color: var(--color-gray-dark);
}

.delete-project-button:hover .material-symbols-outlined {
    color: var(--color-red);
}
.edit-project-button:hover .material-symbols-outlined {
    color: var(--color-black);
}

.project-input {
    flex: 1;
    text-align: left;
    border: none;
    background: none;
    padding: var(--spacing-xs);
    color: var(--color-gray-dark);
}

.project-input:disabled {
    pointer-events: none;
}

.project-input:enabled {
    cursor: text;            
    color: var(--color-black);    
    border-bottom: 1px solid var(--color-gray-dark);
    pointer-events: all;
    padding: var(--spacing-xs);
    outline: none;
    transition: all 0.3s ease-in-out;
}

.project-item-content.editing .edit-project-button {
    display: none;
}

.edit-actions {
    display: flex;
    gap: 4px;
    align-items: center;
}

.edit-actions button {
    width: fit-content;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    color: var(--color-gray-dark);
}

.edit-actions button:hover {
    color: var(--color-black);
}

.edit-actions button .material-symbols-outlined {
    margin: 0;
}