#project-list {
    list-style: none;
    padding: 0;
    margin-top: var(--spacing-m);
}

.project-item + .project-item {
    margin-top: var(--spacing-xs);
}

.project-btn {
    background: none;
    border: none;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-s);
    color: var(--color-brown);
    padding: var(--spacing-xs);
    text-align: left;
    width: 100%;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: var(--transition-fast);
}

.project-btn:hover {
    background-color: var(--color-green);
    color: var(--color-white);
}