.main-header {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-s);
    color: var(--color-gray-dark);
}

.todos-container {
    background-color: var(--color-gray-light);
    padding: var(--spacing-s) 0;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    font-family: var(--font-family-secondary);  
}

.no-todos {

}

.todo-item {
    padding: 0 var(--spacing-s);
    margin-bottom: var(--spacing-s);
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--spacing-xs);
}

.todo-item.high {
    border-left: 3px solid var(--color-red);
}

.todo-item.medium {
    border-left: 3px solid var(--color-orange);
}

.todo-item.low {
    border-left: 3px solid var(--color-green);
}

.checkbox {
    grid-row: span 2;
    align-self: start;
    position: relative;
    top: 5px;
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-gray-dark);
    border-radius: 2px;
    background-color: var(--color-gray-light);
    cursor: pointer;
}

.checkbox:checked {
    background-color: var(--color-orange);
    border-color: var(--color-gray-dark);
}

.checkbox:checked::after {
    content: '✓';
    display: block;
    text-align: center;
    color: var(--color-gray-dark);
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
}

.todo-title {
    min-width: 0; /* Prevent overflow */
    font-size: var(--font-size-s);
    color: var(--color-black);
}

.strike {
    text-decoration: line-through;
    color: var(--color-gray-dark);
}

.todo-details {
    white-space: normal;
    overflow: hidden;
    min-width: 0; /* Prevent overflow */      
}

.todo-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-light);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--color-gray-dark);
}

.todo-due-date {
    font-size: var(--font-size-xs);
    color: var(--color-gray-dark);
}